/* General */
html * { margin:0; padding:0; position:relative; }
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}
/* G Properties CSS */


	/* Nav Bar */
		nav.top {
			height:22px;
			background-color: #2D2D2D;
			margin: 0;
			padding: 0;
			width: 100%;
			overflow: hidden;
		}
		nav ul {
			position: relative;
			top: -1px;
		}
		nav li {
			list-style-type: none;
			display: inline;
			color:#ADBBBB;
			font-weight: bold;
			font-size: 9pt;
			padding-left: 14px;
		}
		nav li:hover {
			color: #fff;
			cursor: pointer;
		}
		nav li.active {
			color: #fff;
		}
		.down_arrow {
			position: relative;
			top: -2px;
			left: 1px;
			font-size: 50%;
		}
	/* End Nav Bar */


/* End G Properties */




/* Page specific */
	.sidebar {
		width: 158px;
	}
	.sidebar .pad {
		padding-left: 16px;
	}
	.primary_x {
		position: absolute;
		left: 158px;
		top: 0;
	}
	.rhsidebar {
		position: absolute;
		right: 0;
		width: 160px;
		top: 0;

	}
	.rel {
		position: relative;
	}
	.fr {
		float: right;
	}
	.fl {
		float: left;
	}
	.abs {
		position: absolute;
	}

	.b-top {
		border-top: 1px solid #e5e5e5;
	}
	.quick-highlight {
		padding-left: 18px;
		padding-right: 18px;
	}
/* End Page specific */



/* G Logo and Search Box */
	.search_bar {
		background-color: #F1F1F1;
	}
		img.g_logo {
			width: 100px;
			height: 34px;
			background-color: #ccc;
		}

		.search_box, .toolbar {
				padding: 7px 0;
		}
			.search_box input[type=text] {
				border: 1px solid #d9d9d9;
				border-top: 1px solid #c0c0c0;
				width: 458px;
				border-radius: 1px;
				height: 24px;
			}
			.search_box input[type=button] {
				margin-left: 10px;
				border: 1px solid #3079ED;
				background-color: #4D8FFD;
				color: white;
				width: 62px;
				height: 26px;
			}
			.search_box input[type=button]:hover {
				background-color: #357AE8;
			}
			.plus_box {
				padding: 7px 0;
				font-size: 9pt;
				color: #666;
			}
			.plus_vcenter {
				vertical-align: middle;
				padding: 4px 0;
				margin: 0 4px;
				border: 1px solid transparent;
			}
			.plus_vcenter.bordered {
				border: 1px solid #ccc;
			}
			.plus_email {
				right: 142px;
			}
			.plus_notifications {
				font-weight: bold;
				color: #999;
				width: 25px;
				text-align: center;
				right: 110px;
			}
			.plus_share_link {
				color: #666;
				width: 68px;
				text-align: center;
				right: 34px;
			}
			.plus_avatar {
				right: 0;
				top: 10;
				padding: 0 !important;
				height: 24px;
				width: 24px;
			}


/* App Picker and Dynamic Toolbar */
	.gmail_toolbar {
		position: relative;
	}
	.app_dropdown {
		color: red;
		padding-top: 11px;
		padding-bottom: 11px;
		font-size: 16px;
	}

	.toolbar .spacer {
		width: 10px;
	}
	.button {
		border: 1px solid #DCDCDC;
		padding: 6px 14px;
		font-size: 10px;
		font-weight: bold;
		background-color: #F1F1F1;
	}



/* Testing / Debugging */

.arrow_border {
	border-color: transparent transparent transparent #ccc;
  border-style: solid;
  border-width: 6px;
	height: 0;
	width: 0;
	position: absolute;
	right: -12px; /* 2 x border width */
	top: 6px;
}

.arrow {
	border-color: transparent transparent transparent #F1F1F1;
  border-style: solid;
  border-width: 6px;
	height: 0;
	width: 0;
	position: absolute;
	right: -10px; /* 2 x border width */
	top: 6px;
}